<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_open')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_open" data-rule="required" class="form-control selectpicker" name="row[is_open]">
                {foreach name="isOpenList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.is_open"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('News_category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-news_category_id" data-rule="required" data-source="news/news_category/index" data-field="name" data-params='{"isTree":"1","isSpace":"1","custom[language_id]":{$row.language_id}}'  class="form-control selectpage" name="row[news_category_id]" type="text" value="{$row.news_category_id|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Author')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-author" data-rule="required" class="form-control" name="row[author]" type="text" value="{$row.author|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Showtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-showtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[showtime]" type="text" value="{:$row.showtime?datetime($row.showtime):''}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Introduction')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-introduction" data-rule="required" class="form-control " rows="5" name="row[introduction]" cols="50">{$row.introduction|htmlentities}</textarea>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_external')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_external" class="form-control selectpicker" name="row[is_external]">
                {foreach name="isExternalList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_external"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('External_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-external_url" class="form-control" name="row[external_url]" type="text" value="{$row.external_url|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.news_description.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seo_title" class="form-control" name="row[seo_title]" type="text" value="{$row.news_description.seo_title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_keywork')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seo_keywork" class="form-control" name="row[seo_keywork]" type="text" value="{$row.news_description.seo_keywork|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-seo_description" class="form-control " rows="5" name="row[seo_description]" cols="50">{$row.news_description.seo_description|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
