<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Language_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-language_id" data-rule="required" data-source="language/index" class="form-control selectpage" name="row[language_id]" type="text" value="{$row.language_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qrcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qrcode" data-rule="required" class="form-control" name="row[qrcode]" type="text" value="{$row.qrcode|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq" data-rule="required" class="form-control" name="row[qq]" type="text" value="{$row.qq|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
