<div class="banner homeBanner">
    <div class="slider">
        <ul class="slider__wrapper">
            {foreach $bannerList as $k => $vo}
                <li class="slider__item"><a target="_blank" title="1" href="{$vo.jump_url}" style="background-image:url({$vo.image})"><img src="{$vo.image}" alt="{$vo.remark}" /></a></li>
            {/foreach}

        </ul>
    </div>
</div>