<style>
    .languageBox a{
        cursor: pointer;
    }
    .languageBox a:hover{
        color: red;
    }
    .language-active{
        color: red;
    }

</style>
<header>
    <div class="topBox">
        <div class="borderBottom">
            <div class="container">
                <div class="welcomeBox">欢迎光临官方企业网站</div>
                <div class="languageBox">
                    {foreach $languageList as $key=>$vo }
                    {if ($vo.language_id == $languageId) }
                            <a data-language="{$vo.aliasname}" class="language-active">{$vo.language_name}</a>
                        {else /}
                            <a data-language="{$vo.aliasname}" class="">{$vo.language_name}</a>
                    {/if}
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 logo"><a href="index.html"><img src="/web/images/logo.png" alt="MojoCube 官方" /></a></div>

                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="address"></div>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="tel">
                        <img src="/web/images/tel.gif" alt="" /><br />400-8888-8888
                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container">


            <!--菜单渲染-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    {foreach $menuList as $key=>$vo }

                    {if (isset($vo['child'])) }
                        <li class="dropdown">
                            <a href="{$vo.url}" class="dropdown-toggle" data-toggle="dropdown">{$vo.name}</a>
                            <a href="#" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-menu-down btn-xs"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {foreach $vo['child'] as $k=>$item}
                                    {if (isset($item['child'])) }

                                        <li><a class='' href='{$item.url}'>{$item.name}</a>
                                            <span>+</span>
                                            <ul>
                                            {foreach $item['child'] as $i => $value}
                                                {if (empty($value.url))}
                                                <li><a href="javascript:void(0);">{$value.name}</a></li>
                                                {else /}
                                                <li><a href="{$value.url}">{$value.name}</a></li>
                                                {/if}
                                            {/foreach}
                                            </ul>
                                        </li>

                                        {else /}
                                            {if (empty($item.url))}
                                            <li><a href="javascript:void(0);">{$item.name}</a></li>
                                            {else /}
                                            <li><a href="{$item.url}">{$item.name}</a></li>
                                            {/if}
                                    {/if}
                                {/foreach}
                            </ul>
                        </li>
                    {else /}
                        <li>
                            {if (empty($vo.url))}
                            <a href="javascript:void(0);">{$vo.name}</a>
                            {else /}
                            <a href="{$vo.url}">{$vo.name}</a>
                            {/if}
                        </li>
                    {/if}
                    {/foreach}


                </ul>
            </div>




        </div>
    </nav>
</header>
<script>
    $('.languageBox a').click(function(){
        let aliasname = $(this).attr('data-language');
        window.location.href = location.origin + location.pathname + '?lang=' + aliasname;
    });
</script>