<meta charset="utf-8">
<title>{$title|default=''} – {:__('The fastest framework based on ThinkPHP5 and Bootstrap')}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile" />


{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}

<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<!--<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">-->

<link href="__CDN__/web/css/bootstrap.css" rel="stylesheet" />
<link href="__CDN__/web/css/glide.css" rel="stylesheet" />
<link href="__CDN__/web/css/style.css" rel="stylesheet" />
<link href="__CDN__/web/css/online.css"rel="stylesheet" />
<script src="__CDN__/web/js/jquery.min.js" type="text/javascript"></script>
<script src="__CDN__/web/js/bootstrap.js" type="text/javascript"></script>
<script src="__CDN__/web/js/jquery.glide.js" type="text/javascript"></script>


<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="__CDN__/assets/js/html5shiv.js"></script>
  <script src="__CDN__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>